.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navigation Bar Styles */
nav {
  background-color: #333; /* Dark background for the nav bar */
  text-align: center;     /* Center align the navigation items */
  padding: 10px 0;        /* Some padding at the top and bottom */
}

nav ul {
  list-style: none;       /* Remove default list styling */
  padding: 0;             /* Remove default padding */
  margin: 0;              /* Remove default margin */
}

nav li {
  display: inline;        /* Display list items inline */
  margin-right: 20px;     /* Space out the list items */
}

nav a {
  color: white;           /* Light text color for contrast */
  text-decoration: none;  /* Remove underline from links */
  font-size: 18px;        /* Increase font size */
  transition: color 0.3s; /* Smooth transition for hover effect */
}

nav a:hover {
  color: #4CAF50;         /* Change color on hover */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  color: #333; /* Text color */
  font-size: 20px; /* Font size */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}
